body {
    margin: 0;
    padding: 0;
}

a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

/* Navbar css */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
}



nav .navbarlogo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


#Background_image {
    width: 100%;
    padding: 35rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(./img/headerfoto.jpg);
    display: block;
}

.blokonderfoto{
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%)
    
}


/* Css van de greyscale op de beginscherm op plaatje */
#tekstopplaatje {
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 25px;
}

#tekstopplaatje1 {
    font-size: 25px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#buttonhome {
    color: rgb(255, 255, 255);
    background-color: #64a19d;
    box-shadow: 0.10rem 0.10rem 0.10rem rgba(0, 0, 0, 0.5) ;
    padding: 1.25rem;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

/* */